.layout{
    display: flex;
    flex-direction: row;
}
.layoutChild{
    display: flex;
    flex-direction: row;
}

/* Sidebar css */
.sidebar{
    height: 100vh;
    box-shadow: 1px 0 1px 0.25px rgb(34, 38, 40);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line{
    height:3px;
    width: 70px;
    background-color: gray;
}

.sidebar-innertop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 25px 0 0 0;
    width: 100%;
}
.sidebar-logo{
    width: 64px;
    height: 64px;
    & img{
        width: 100%;
    }
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 18px;
    & div{
        width: 48px;
        height: 48px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sidebar-innertop2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.gearIco{
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MoreIco{
    display: none;
}

.sidebar-innerbottom{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sidebar-profilepic{
    width: 48px;
    height: 48px;
    padding: 0 0 48px 0;
    align-items: center;
    & img{
        width: 48px;
        height: 48px;
        object-fit: contain;
        border: 2px solid black;
        border-radius: 50%;
        padding: 2px;
    }
}

/* Chats */
.dashBoard{
    width: 384px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-right: 1px rgba(34, 38, 40, 0.745) solid;
    padding: 0 29px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #868c95;
        border-radius: 10px;
    }
}

.chats-box1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Chats-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    padding: 35px 0 0 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.71px;
}

.searchbar{
    width: 327px;
    height: 40px;
    border-radius: 20px;
    padding: 0 9px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    & input{
        border: none;
        background-color: #EAF2FE;
        width: 100%;
        outline: none;
        padding: 5px;
    }
}

.archive{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20.49px;
    text-align: left;
    padding-top: 17px;
}

/* Pinned Chats */
.pinnedChatsBox{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.pinnedTitle{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    text-align: left;
}

.pinnedChats{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.line2{
    width: 327px;
    height: 2px;
    background-color: gray;
}

/* All Chats */
.allChatsBox{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.allChatsTitle{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    text-align: left;
}

.allChats{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.newchatIcon{
    position: sticky;
    bottom: 40px;
    left: 300px;
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allProfiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.newConversationModal{
    & .ant-modal-content{
        padding: 0;
        height: 550px;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-track{
            background: rgb(222, 235, 249);
        }
        &::-webkit-scrollbar-thumb{
            background-color: #868c95;
            border-radius: 10px;
        }
    }
}

.newConvmodalInner{
    padding:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border-radius: 12px; */
}

/* ChatCard */
.ChatCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 327px;
    height: 72px;
    border-radius: 15px;
    padding: 0 8px;

}

.ChatCardBox1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.ChatCardText{
    display: flex;
    flex-direction: column;
}

.ChatCardUsername{
    font-size: 20px;
    font-weight: 400;
}

.ChatCardBox2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-end;
}

/* ProfileCard */
.ProfileCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 72px;
    border-radius: 15px;
    padding: 0 8px;
}

/* Call Log */
.callog-box1{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.CallLog-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    padding: 35px 0 0 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.71px;
}

.callLog-newcall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 700;
    line-height: 20.49px;
    &:hover{
        cursor: default;
    }
}

.callog-box2{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    align-items: center;
}


/* Call Card */
.CallCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 72px;
    border-radius: 15px;
    padding: 0 10px;

}

.CallCardBox1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.CallCardText{
    display: flex;
    flex-direction: column;
}

.CallCardBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* Groups */
.newGroupModal{
    & .ant-modal-content{
        padding: 0;
        height: 350px;
        
    }
}

.newGroupInner{
    height: 300px;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border-radius: 12px; */
    & h2{
        font-family: Manrope;
        font-size: 21px;
        font-weight: 700;
        line-height: 28.69px;
        text-align: left;
    }
}

.groupInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
}

#span-input{
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit,minmax(115px, 1fr));
    column-gap: 15px;
    overflow-y: scroll;
    border-radius: 4px;
    outline: 1px lightgray solid;
    min-height: 40px;
    max-height: 90px;
    padding: 12px;
    &::-webkit-scrollbar{
        width: 0px;
    }
}

.GroupProfilecard{
    /* width: 95px; */
    background-color: #868c95;
    border-radius: 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.group-box1{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Profile */
.ProfileBox1{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 34px 0 0 0;
}

.Profile-title{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.71px;
    text-align: left;
}

.ProfileInfoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6px 0 0 0;
    gap: 10px;
}
.ProfileName{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.AboutProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 6px;
}

/* Chat */
.ChatContainer{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
}

.Chat{
    height: 100vh;
    width: 100%;
    left: 515px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.lg-resize{
    width: 635px;
}

.ChatHeader{
    width: 100%;
    height: 89px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ChatMessages{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #868c95;
        border-radius: 10px;
    }
}

.ChatsendMessage{
    width: 100%;
    /* min-height: 89px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-height: 150px;
}

.chatHeaderDetails1{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 0 12px;
    align-items: center;
}

.ChatHeaderUserDetail{
    & div:first-child{
        font-family: Manrope;
        font-size: 16px;
        font-weight: 800;
        line-height: 21.86px;
        text-align: left;
    }
}

.chatHeaderDetails2{
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 12px;
}

.chatHeaderIcons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inputsDiv{
    width: 869px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    margin: 10px ;
}

#MessageInput{
    width: 100%;
    outline: none;
    border: transparent;
    font-family: Manrope;
    font-size: 17px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    white-space:initial;
    height: 26px;
    max-height: 105px;
    overflow-y: scroll;
    resize: none;
    /* padding: 0 8px; */
    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #868c95;
        border-radius: 10px;
    }
}

.SendPayment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.messageBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

.messageInfo{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.messageInner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.message{
    padding: 10px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    min-width: 80px;
    width: 100%;
    & >div:first-child{
        width: 100%;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: left;
        word-wrap: break-word;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & >div:last-child{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
    }
}

.starredmessage{
    padding: 10px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    min-width: 80px;
    max-width: 50%;
    & >div:first-child{
        width: 100%;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: left;
        word-wrap: break-word;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & >div:last-child{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
    }
}

.expandedView{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    transform: translate3d(-50%,-50%,0);
    gap: 6px;
    & >div{
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
    }
    & >img{
        width: 70%;
    }
}

.messageReactions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactionIcons{
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 2px 10px;
    border-radius: 18px;
}

.PaymentDiv{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    gap: 10px;
    & >div:first-child{
        display: flex;
        flex-direction: row;
        gap: 4px;
        justify-content: center;
        align-items: center;
        font-family: Manrope;
        font-size: 40px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: left;
    }
    & >div:last-child{
        align-items: center;
        font-family: Manrope;
        font-size: 22px;
        font-weight: 400;
        line-height: 19.12px;
        text-align: left;
    }
}

.OtherFiles {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 12px;
        gap: 18px;
        & >div:first-child{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
        }
        & >div:last-child{
            align-items: center;
            font-family: Manrope;
            font-size: 18px;
            font-weight: 300;
            line-height: 19.12px;
            text-align: left;
        }
}

.MessageDates{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.DateLine{
    width: inherit;
    height: 1px;
    background-color: #868c95;
}

.rightAlign{
    align-items: flex-end;
    /* padding: 4px; */
}

.leftAlign{
    align-items: flex-start;
    /* padding: 4px; */
}

.right{
    border-top-right-radius: 0;
}

.left{
    border-top-left-radius: 0;
}

.HoverDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    opacity: 0;
    &:hover{
        opacity: 1;
    }
}

.RightSidePanel{
    width: 362px;
    height: 100vh;
    border-left: 1px black solid;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.RightSidePanelHeader{
    height: 69px;
    width: 100%;
    display: flex;
}

.RightSidePanelHeaderInner{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: left;
}

.RightSidePanelContactInfo{
    /* height: 220px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 20px;
}

.RightSidePanelContactInfoDetails{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 38px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;

}

.RightSidePanelContactInfoCallIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.lineSidePanel{
    width: 88%;
    height: 1px;
    background-color: rgb(183, 183, 183);
    margin: 0 20px;
}

.AboutSidePanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 4px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: left;
}

.MediaLinksSidePanel{
    display: flex;
    flex-direction: column;
    padding: 0 20px;justify-content: center;
}

.MediaLinksSidePanelHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MediaLinksSidePanelHeaderBox2{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: left;
}

.StarredMessagesSidePanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.StarredMessagesSidePanelLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: left;
}

.CommonGroupsSidePanel{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: left;
}

.SidePanelFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.SidePanelButton{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 19.12px;
    text-align: left;
}

.SubSettings{
    width: 100%;
}

.Settings{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.SettingsHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.71px;
    text-align: left;
    padding: 35px 0 0 0;
}

.SettingsContactInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
    
}

.SettingsContactDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Manrope;
    font-size: 26px;
    font-weight: 400;
    line-height: 19.12px;
    text-align: left;
}

.SettingsTypes{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}
.SettingsTypesInner{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    padding: 10px;

}

.linesettings{
    width: 100%;
    height: 1px;
    background-color:#868c95;
}

.Themes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(60px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
}

.ThemeInner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.IndvidualTheme{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.ChatWallpapers{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 16px;
    column-gap: 10px;
    width: 100%;
}

.ChatWallpaperCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChatWallpaperInner{
    width: 180px;
    height: 260px;
}

.WallpaperImg{
    width: 100%;
    height: 100%;
}

.NotificationsInner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.NotificationsText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 16.39px;
    text-align: left;

}

.NotificationsCheckbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PrivacyInner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SecurityIcon{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconBgColour{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius:50%;
    height: 50px;
    width: 50px;
}

.SecuityItem{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 16.39px;
    text-align: left;
}

.PrivacyOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.OptionOuterCircle{
    border-radius: 50%;
    border: 1px solid;
    padding: 4px;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dot{
    height:100%;
    width:100%;
    border-radius:50%;
}

.Description{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.AllBlockedContacts{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.BlockedContact{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.BlockedDetails{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.12px;
    text-align: left;

}

.lg-hide{
    display: none;
}

.MediaHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    text-align: left;
}

.MediaDetails{
    display: flex;
    flex-direction: column;
}

.MediaHeaderItem{
    padding: 10px 6px;
}

.MediaItems{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px,1fr));
    gap: 6px;
    row-gap: 24px;
    margin: 0 10px;
}

.MediaItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgGrid{
    padding: 10px;
    box-shadow: 0px 0px 6px rgb(200, 200, 200);
    border-radius: 14px;
    width: 70px;
    height: 70px;
    & img{
        width: 100%;
        height: 100%;
    }
}

.MediaLinks{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 6px;
    row-gap: 24px;
    margin: 0 10px;
}

.LinkItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 6px rgb(200, 200, 200);
    border-radius: 10px;
}

.LinkContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px 20px;
}

.linkCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.MediaDocs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 6px;
    row-gap: 24px;
    margin: 0 10px;
}

.DocItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 6px rgb(200, 200, 200);
    border-radius: 10px;
}
.DocImage{
    /* padding: 10px; */
    box-shadow: 0px 0px 6px rgb(200, 200, 200);
    border-radius: 14px;
    width: 100%;
    height: 180px;
    & img{
        width: 100%;
        height: 100%;
    }
}

.DocDetails{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.DocDetailsLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 16.39px;
    text-align: left;
    padding: 0 10px;
}

.DocDownloadIcon{
    padding: 0 20px;
}

.DropDownMenu{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

.DropDownMenuItem{
    padding: 12px;
    &:hover{
        cursor: default;
    }
}

.replyDiv{
    margin: 10px 10px 0 10px;
    padding: 10px 10px 4px 10px;
}

.replyDivInner{
    padding: 8px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    & img{
        width: 40px;
        filter: blur(1px);
    }
    & >div:first-child{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    & >div:nth-child(2){
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}

.attachDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px,1fr));
    gap: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    margin: 10px 10px 0 10px;
    padding: 10px 10px 4px 10px;
}

.attachInner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 16.39px;
    text-align: left;
}

@media (max-width : 800px) {

    .layout{
        flex-direction: column;
    }

    .sidebar{
        height: auto;
        width: 100vw;
        padding-bottom: 20px;
    }

    .sidebar-innertop1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .sidebar-logo{
        margin-left: 20px;
    }

    .MoreIco{
        margin-right: 30px;
    }

    .lg-hide{
        display: block;
    }

    .sidebar-options{
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
    }

    .line,.gearIco{
        display: none;
    }

    

    .sidebar-innerbottom{
        display: none;
    }

    .dashBoard{
        width: 100vw;
        height: auto;
        min-height: 100vh;
        padding: 0 0 30px 0;
    }

    .chats-box1,.pinnedChatsBox,.allChatsBox{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .archive,.pinnedTitle,.allChatsTitle{
        width: 90vw;
        align-items: start;
    }

    .Chats-title{
        width: 90vw;
    }

    .searchbar{
        width: 90vw;
    }

    .archive{
        width: 90vw;
        align-items: flex-start;
    }
    
    .pinnedChats{
        width: 100%;
        align-items: center;
    }

    .ChatCard{
        width: 90vw;
    }

    .newchatIcon{
        position: fixed;
        left: 83vw;
    }

    .line2{
        width: 90vw;
    }

    .MoreIco{
        display: block;
    }

    .Chat{
        width: 100vw;
    }

    .Profile{
        padding: 20px;
    }

    .sm-hide{
        display: none;
    }

    .lg-hide{
        display: flex;
        align-items: center;
    }

    .RightSidePanel{
        width: 100vw;
    }

    .Settings{
        padding: 0 30px;
    }

    .expandedView{
        & >div,>img{
            width: 90%;
        }
    }
}